---
import Layout from "../../layouts/Layout.astro";
import PosterCard from "../../components/PosterCard.astro";

import overviewSeasons from "../../data/episodes.json";

const { total, ...seasons } = overviewSeasons.overview;
---

<Layout>
  <div class="flex flex-wrap gap-3 justify-center items-center">
    {
      Object.values(seasons).map((season) => (
        <PosterCard
          season_id={season.season_id}
          episodes={season.episodes}
          image={season.image}
          first_aired={season.first_aired}
          last_aired={season.last_aired}
        />
      ))
    }
  </div>
</Layout>
